@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: rgb(42, 157, 143);
    --clr-primary-dark: rgb(38, 70, 83);
    --clr-secondary: rgb(231, 111, 81);
    --clr-secondary-light: rgb(244, 162, 97);
    --clr-secondary-lighter: rgb(232, 196, 104);
    --clr-bg-main: rgba(42, 157, 143, 10%); 
    --clr-white: rgb(255, 255, 255);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: var(--clr-primary-dark);
    background-color: var(--clr-bg-main); 
    display: flex;
    justify-content: center;
}

.cancel-resize-transition * {    
    transition: none !important;
}


.message {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10rem;
    background-color: #2e2e2e;
    color:var(--clr-white);
    opacity: 0;
}

.message  p {
    font-size: 1.2em;
}

.message a {
    color:var(--clr-white);
}

.message button {
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    position: absolute;
    right: 5%;
    top: 10%;
    border: none;
    background-color: transparent;
    color:var(--clr-white);
    cursor: pointer;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

.web-container {    
    width: 100%;
    max-width: 100rem;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex; 
    background-color: var(--clr-white);    
    transform: translateX(100%);
    transition: transform 350ms ease-out; 
}

nav .nav-bar { 
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-direction: column;
    user-select: none; 
    padding: min(20vh, 10rem) 2em;    
}

.menuBtn[data-expanded="true"] ~ nav{
    transform: translateX(0%);
}

nav .nav-bar > li {    
    padding: 1em;
}

.menuBtn {
    display: block;
    position: fixed;
    right: 10%;
    top: 3rem;
    z-index: 110;
    width: 2rem;
    height: 2rem;
    background-image: url("../assets/hamburger.png");      
    background-size: cover;         
}

.menuBtn[data-expanded="true"] {
    background-image: url("../assets/cross.png");  
}

main {
    width: 100%;
}

section {
    display: flex;
    min-height: 35rem;
    width: 100%;  
}

.content {
    width: 100%;
    display: flex; 
}

/*Home section*/

section.home {
    position: relative;    
    margin-top: 2rem;
    text-align: center;
}

section.home .content {   
    justify-content: space-between;
    align-items: center;   
    flex-direction: column; 
}

section.home .home-text {
    margin: 1.5rem 0;
}

section.home .content h1 {    
    padding: 1.1rem 0rem;
}

section.home .content p {    
    padding: 0.2rem 2rem;
}

section.home .home-img {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.home .home-img img {       
    width: 15rem;
}

section.home .home-img .shadow {
    height: 1.2rem;
    width: 7rem;
    border-radius: 80%;
    background-color: var(--clr-primary-dark);
}

/*about section*/
section.about {
    flex-direction: column;    
}

section.about .about-breaker-up {
   transform: translate(0, 10%);
}

section.about .about-breaker-down {
   transform: translate(0, -10%);
}

section.about .content{ 
    position: relative;   
    flex-direction: column;
    justify-content: center;
    width: 100%;    
    padding: 3rem 2em;  
    min-height: 30rem;
    background-color: var(--clr-secondary-light);
}

section.about .content > *{ 
    opacity: 0;
}

section.about .content p {   
    padding: 1.5rem 0; 
    line-height: 2rem;
}

/*Skill section*/
section.skills {
    position: relative;
}

section.skills .content {
    flex-direction: column;
    padding: 5rem 0;
    width: 100%;
}

section.skills .content h2 {
    padding: 1rem 2rem;
}

section.about .content h2::after {    
    position: absolute;
    content: 'About';
    color: var(--clr-white);
    transform: translate(-97%);  
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;    
    user-select: none;
    position: relative;
}

.skills-container .scroll-control {
   font-size: 2.5rem;
   border: none;     
   text-align: center; 
   padding: 2.5rem 0.5rem; 
   position: absolute; 
   width: 9rem;
   height: 9rem;
   background-color: var(--clr-primary-dark);
   color: var(--clr-white);
   opacity: 0.2;
   transition: opacity 0.3s;
   cursor: pointer;
}

@media(hover:hover) {
    .skills-container .scroll-control:hover {
        opacity: 0.5;
     }
}

.skills-container .scroll-control.left {
    left: 0;
    text-align: left;
    clip-path: circle(50% at 0 50%);
}

.skills-container .scroll-control.right {
    right: 0;
    text-align: right;
    clip-path: circle(50% at 100% 50%);
}


.skills-container .wrapper {    
    display: flex;   
    overflow: hidden;     
}

.skills-container > .wrapper > div {    
    height: 8em;
    width: 10em;   
    margin: auto 2.5em;  
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    flex-direction: column;   
    transition: transform 0.35s ease-out;
    border-radius: 2em;
}

.skills-container > .wrapper > div > img {
    height: 6em;
    width: 6em; 
}

/*Projects section*/

section.projects {
    position: relative;
}

section.projects .content{ 
    position: relative;   
    flex-direction: column;
    justify-content: center; 
    width: 100%;    
    padding: 0 2em;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

section.projects .projects-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.card {
    box-shadow: 1px 1px 8px 1.5px rgba(0,0,0,0.2);    
    background-color: var(--clr-white);
    border-radius: .8rem;
    overflow: hidden;
    width: 15rem;
    transition: transform 250ms ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

section.projects .card > img {
    width: 15rem;
}

section.projects .card .info {
    text-align: center;
    margin: 1rem 0;
}

section.projects .card .info > .name{
    font-size: 1.5rem;
}

section.projects .card .info > .status{
    font-size: 0.8rem;
}

section.projects .card .info  img{
    width: 2rem;
    margin: 1rem;
}

/*Contact section*/

section.contact {
    position: relative;  
    justify-content: center; 
    align-items: center;
    min-height: 30rem;
    height: 30rem;
}

section.contact::after {    
    position: absolute;
    content: '';
    background-color: var(--clr-secondary-lighter);
    top: -20%;
    left: 50%;  
    transform: translate(-50%);
    height: 95rem;
    width: 95rem;
    border-radius: 50%;    
    z-index: -1;
}

section.contact .content{ 
    position: relative;   
    flex-direction: column;    
    width: 100%; 
    text-align: center;    
}

section.contact .content h2 {    
    padding: 1.1rem 0rem;
}

.contact > .content > .contactBtn {
    text-decoration: none;  
    padding: 1em 2.5em;
    color: var(--clr-white);
    background-color: var(--clr-primary-dark);
    margin: 1em auto;
    user-select: none;
}

.contact img {   
    width: 3rem;
    margin: 1em auto;
}

@media(min-width: 800px) {   
    
    nav {            
        left: 0;        
        bottom: unset; 
        justify-content: center;
        box-shadow: 0 0 5px 0px rgba(128, 128, 128, 50%);
        transform: translateX(0);        
    }
    
    nav .nav-bar {
        width: 100%;
        max-width: 100rem;
        justify-content: flex-end;
        flex-direction: row;
        padding: 0;
    }

    nav .nav-bar > li {
        font-size: 1.3rem;
        padding: 2rem; 
    }

    nav .nav-bar > li > a{
        cursor: pointer;
        position: relative;  
    }

    .nav-bar > li > a::after, 
    .nav-bar > li > a::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 0.1em;
        background-color: var(--clr-primary-dark);
        bottom: -0.3em;
        left: 0;   
        display: inline-block;
        transform: scale(0);
        transition: transform 0.2s ease-out;   
    }

    .nav-bar > li > a:hover::after, 
    .nav-bar > li > a:focus::after{    
        transform: scale(1);  
    }
    
    .menuBtn {
        display: none;             
    }

    section.home {        
        margin-top: 5rem;
        text-align: left;
        justify-content: center;
    }

    section.home::after {
        position: absolute;
        content: '';
        background-color: var(--clr-primary);
        top: -60%;
        left: 68%;  
        right: 0;
        height: 75rem;
        width: 75rem;    
        border-radius: 50%;    
        z-index: -1;
    }

    section.home .content {  
        width: max(70%, 55rem);
        flex-direction: row;
        justify-content: space-around;        
    }

    section.home .home-text {
        margin: 0;
    }
    
    section.home .content h1 {    
        padding: 1.1rem 2rem;
    }
    
    section.home .content p {    
        padding: 0.2rem 2rem;
    }

    section.about .about-breaker-up {
        display: none;
     }
     
    section.about .about-breaker-down {
       display: none;
    }

    section.about .content{
        width: 42rem;
        height: 42rem;  
        padding: 10rem;    
        text-align: justify;
        background-color: transparent;
    }

    section.about .content::after {    
        position: absolute;
        content: '';
        background-color: var(--clr-secondary-light);    
        top:0;
        left: 0;  
        height: 100%;
        width: 100%;    
        border-radius: 50%;  
        z-index: -1;
    }
}