@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: rgb(42, 157, 143);
    --clr-primary-dark: rgb(38, 70, 83);
    --clr-secondary: rgb(231, 111, 81);
    --clr-secondary-light: rgb(244, 162, 97);
    --clr-secondary-lighter: rgb(232, 196, 104);
    --clr-bg-main: rgba(42, 157, 143, 10%);   
    --clr-bg-2: rgba(244, 162, 97, 10%); 
    --clr-bg-3: rgba(232, 196, 104, 10%);
    --clr-white: rgb(255, 255, 255);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: var(--clr-primary-dark);
    background-color: var(--clr-bg-main); 
    display: flex;
    justify-content: center;
}

.message {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10rem;
    background-color: #2e2e2e;
    color:var(--clr-white);
    opacity: 0;
}

.message  p {
    font-size: 1.2rem;
}

.message a {
    color:var(--clr-white);
}

.message button {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 5%;
    top: 10%;
    border: none;
    background-color: transparent;
    color:var(--clr-white);
    cursor: pointer;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

.web-container {    
    width: 100%;    
    max-width: 100rem;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;  
    width: 100%;
    display: flex; 
    justify-content: center;
    background-color: var(--clr-white);
    box-shadow: 0 0 5px 0px rgba(128, 128, 128, 50%);
}

nav .nav-bar {     
    width: 100%;
    max-width: 100rem;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    user-select: none;    
}

nav .nav-bar > li {
    font-size: 1.3rem;
    padding: 2rem;
}

nav .nav-bar > li > a{
    cursor: pointer;
}

main {
    width: 100%;
}

section {
    display: flex;
    min-height: 35rem;
    height: 75vh;
    max-height: 40rem; 
    width: 100%;
}

.content {
    display: flex;
}

section.home {    
    position: relative;
    margin-top: 5rem;       
    justify-content: center;
    align-items: center;    
}

section.home::after {
    position: absolute;
    content: '';
    background-color: var(--clr-primary);
    top: -40%;
    left: 65%;  
    height: 80rem;
    width: 80rem;    
    border-radius: 50%;    
    z-index: -1;
}

section.home .content {
    position: relative;
    padding: 0rem 2rem;
    width: max(70%, 60rem);
    justify-content: space-between;
}

section.home .content h1 {    
    padding: 1.1rem 0rem;
}

section.home .content p {    
    padding: 0.2rem 0rem;
}

section.home .home-img {
    position: absolute;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10%;
}

section.home .home-img img {       
    width: 15rem;
}

section.home .home-img .shadow {
    height: 1.2rem;
    width: 7rem;
    border-radius: 80%;
    background-color: var(--clr-primary-dark);
}

section.about {
    position: relative;
}

section.about .content{ 
    position: relative;   
    flex-direction: column;
    width: 45rem;
    height: 45rem;  
    padding: 10rem;
    text-align: justify;    
}

section.about .content > *{ 
    opacity: 0;
}

section.about .content::after {    
    position: absolute;
    content: '';
    background-color: var(--clr-secondary-light);    
    top:0;
    left: 0;  
    height: 100%;
    width: 100%;    
    border-radius: 50%;  
    z-index: -1;
}

section.about .content h2 {    
    padding: 1.1rem 0rem;
    position: relative;
}

section.about .content h2::after {    
    position: absolute;
    content: 'About';
    color: var(--clr-white);
    transform: translate(-97%);  
}

section.about .content p {    
    line-height: 2rem;
}

section.skills .content {
    flex-direction: column;
    padding: 10rem 0;
}

section.skills .content {
    flex-direction: column;
    padding: 10rem 0;
    width: 100%;
}

section.skills .content h2 {
    padding: 1rem 2rem;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;    
    user-select: none;
}

.skills-container .scroll-control {
   font-size: 2.5rem;
   border: none;     
   text-align: center; 
   padding: 2.5rem 0.5rem; 
   position: relative; 
   width: 9rem;
   height: 9rem;
   background-color: var(--clr-primary-dark);
   color: var(--clr-white);
   opacity: 0.2;
   transition: opacity 0.3s;
   cursor: pointer;
}

.skills-container .scroll-control:hover {
    opacity: 0.5;
 }

.skills-container .scroll-control.left {
    text-align: left;
    clip-path: circle(50% at 0 50%);
}

.skills-container .scroll-control.right {
    text-align: right;
    clip-path: circle(50% at 100% 50%);
}


.skills-container .wrapper {    
    display: flex;   
    overflow: hidden;     
}

.skills-container > .wrapper > div {    
    height: 8em;
    width: 10em;   
    margin: auto 2em;  
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    flex-direction: column;   
    transition: transform 0.35s ease-out;
    border-radius: 2em;
}

.skills-container > .wrapper > div > img {
    height: 6em;
    width: 6em; 
}

section.contact {
    position: relative;  
    justify-content: center; 
    align-items: center;
    min-height: 30rem;
    height: 30rem;
}

section.contact::after {    
    position: absolute;
    content: '';
    background-color: var(--clr-secondary-lighter);
    top: -20%;
    left: 50%;  
    transform: translate(-50%);
    height: 95rem;
    width: 95rem;
    border-radius: 50%;    
    z-index: -1;
}

section.contact .content{ 
    position: relative;   
    flex-direction: column;    
    width: 100%; 
    text-align: center;    
}

section.contact .content h2 {    
    padding: 1.1rem 0rem;
}

.contact > .content > .contactBtn {
    text-decoration: none;  
    padding: 1em 2.5em;
    color: var(--clr-white);
    background-color: var(--clr-primary-dark);
    margin: 1em auto;
    user-select: none;
}

.contact img {   
    width: 3rem;
    margin: 1em auto;
}
